<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="">
    <div class="mr-5 ml-5">
      <div class="tui-form__row">
        <label class="pl-2">Email</label>
        <tui-input
          formControlName="email"
          [tuiTextfieldLabelOutside]="true"
        ></tui-input>
        <tui-error
          formControlName="email"
          [error]="[] | tuiFieldError | async"
        ></tui-error>
      </div>
      <div class="tui-form__row">
        <label class="pl-2">Password</label>
        <tui-input-password
          formControlName="password"
          [tuiTextfieldLabelOutside]="true"
        ></tui-input-password>
      </div>
    </div>
  </div>
</form>
