@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~@taiga-ui/core/styles/taiga-ui-local';

//Fonts
@font-face {
  font-family: "Newrocker";
  src: local("Newrocker"), url(./assets/fonts/NewRocker/Newrocker-Gy5a.ttf) format("truetype");
}

//Color Variables
:root {
  --primary-text-color: #FBFCFC;
  --secondary-text-color: #1D1D1E;

  --primary-bg-color: #35345F;
  --secondary-bg-color: #34495F;

  --primary-button-color: #474680;
  --secondary-button-color: #7877B5;

  --primary-accent-color: #5958A1;

  --positive-health-color: #62A158;
  --middle-health-color: #C1AA6E;
  --negative-health-color: #AF4545;

  background-color: var(--primary-bg-color);
}

h1 {
  font-size: x-large;
  font-family: 'newrocker';
  color: var(--primary-text-color);
}

h2 {
  font-size: x-large;
  font-weight: bold;
  line-height: 24px;
  height: 24px;
  color: var(--primary-text-color);
}

h3 {
  font-size: large;
  font-weight: 500;
  color: var(--primary-text-color);
}

p {
  font-size: small;
  font-weight: 500;
  color: var(--primary-text-color);
}

label {
  font-size:medium;
  font-weight: 700;
  font-style: normal;
  color: var(--primary-text-color);
}

button {
  width: 108px;
  height: 48px;
  display: block;
  background-color: var(--secondary-button-color);
  border-radius: 8px;
  color: var(--primary-text-color);
  font-size: large;
  font-weight: 700;
  &:visited {
    background-color: var(--primary-bg-color);
  }

  &:hover {
    background-color: var(--primary-button-color);
  }
}

img {
  height: 88px;
  width: 88px;
  border-radius: 8px;
}

.list-item {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: var(--primary-button-color);
  margin-bottom: 8px;
  border-radius: 8px;
  padding: 12px;

  &button {
    text-align: left;
    font-size: 28px;
    height: 64px;
  }
}
