:host {
  background-color: var(--primary-accent-color);
  display: block;
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 80px;
}
tui-tabs {
  height: 80px;
}
button {
  bottom: 0;
  border-radius: 0px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 50%;
  font-size: medium;
  background-color: var(--primary-button-color);

  &:focus {
    background-color: var(--primary-bg-color);
  }
}
